
.flex-container{
	display: flex;
	justify-content: space-between;

	/*aesthetic*/
	background: whitesmoke;
}

.flex-container div {

	/* behavior  */
	margin: 20px;
	padding: 5px;
	text-align: center;

	/* aesthetic */
	background: lightgray;
}

#nav-link {
	text-align: center;
	margin: 10px;
	border: 1px solid red;
}

.food-pic{
	height: 260px;
	width: auto;
}

.instructions{
	text-align: center;
}